<link rel="icon" type="image/png" href="assets/images/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="/assets/images/image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/assets/images/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
<link rel="manifest" href="/assets/images/site.webmanifest" />

<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="keywords" content="Portfolio, GIS, Alex Fielder, USU, {{ site.title }}">
<meta name="author" content="{{ site.author.name }}">
