title: GIS Portfolio
email: alexfielder02@gmail.com
description: >- # this means to ignore newlines until "baseurl:"
  Alex Fielder's GIS Portfolio for professional development
github_username: afielder02
minimal_mistakes_skin: dirt
search: false

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
# Outputting
permalink: /:title/
paginate: 1 # amount of posts to show
paginate_path: /blog/page:num/
timezone: America/Denver

include:
  - _pages

home: home.md

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "Alex Fielder"
  avatar : "/assets/images/bio-photo.png"
  bio    : "Graduating USU with a Bachelor's of Environmental Studies"
  location : "Logan, UT"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope"
      url: "mailto:alexfielder02@gmail.com"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/alexander-fielder/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/afielder02"

footer:
  links:
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/alexander-fielder/"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/afielder02"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      permalink: /:title/
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true

  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
